<!-- Modal Content -->
<div class="modal fade" id="modal-donor" tabindex="-1" role="dialog" aria-labelledby="modal-donor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-title">
                    <h2 class="h6 modal-title">Donor Creation</h2>
                </div>
                <div class="container">
                    {% include 'dashboard/forms/form_donor.html' %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->