{% extends "base/base.html" %}

{% block title %} Blood Requests {% endblock %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Blood Requests</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Blood Requests</li>
            </ol>
        </nav>
        <h2 class="h4">All Blood Requests</h2>
        <p class="mb-0">A list of all Blood Requests...</p>
    </div>

    {% if perms.dashboard.add_bloodrequest %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group ms-2 ms-lg-3">
            <a href="{% url 'dashboard:create_update_blood_request' %}" class="btn btn-sm btn-outline-gray-600">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6">
                    </path>
                </svg>
                New Blood Request
            </a>
        </div>
    </div>
    {% endif %}
</div>

<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">

        <div class="col col-md-6 col-lg-3 col-xl-4">
            <div class="input-group me-2 me-lg-3 fmxw-400">
                <form action="{% url 'dashboard:search_blood_request' %}" method="GET">
                    <div class="row">
                        <div class="col-9 mx-0" style="padding-right: 0;">
                            <input type="text" class="form-control" name="q" placeholder="request id, qty, etc.">
                        </div>
                        <div class="col-3 mx-0" style="padding-left: 0;">
                            <span><button class="btn btn-sm btn-primary">Search</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th class="border-gray-200">#</th>
                <th class="border-gray-200">Request ID</th>
                <th class="border-gray-200">Patient</th>
                <th class="border-gray-200">Quantity</th>
                <th class="border-gray-200">Status</th>
                <th class="border-gray-200">Date Requested</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            {% if blood_requests %}
            {% for blood_request in blood_requests %}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    <a href="#" class="fw-bold">
                        {{blood_request.blood_request_id}}
                    </a>
                </td>
                <td>
                    <span class="fw-normal">{{blood_request.patient_profile.user.fullname}}</span>
                </td>
                <td><span class="fw-bold">{{blood_request.quantity}}</span></td>
                <td><span class="badge fw-bold"
                        style="background-color: {{blood_request.get_status_color}};">{{blood_request.status}}</span>
                </td>
                <td><span class="fw-normal">{{blood_request.date_requested}}</span></td>
                <td>
                    <div class="btn-group">

                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-dark"></span>
                            </span>
                        </button>
                        <div class="dropdown-menu py-0">

                            {% if perms.dashboard.change_bloodrequest %}
                            <a class="dropdown-item"
                                href="{% url 'dashboard:create_update_blood_request' %}?request_id={{blood_request.id}}"><span
                                    class="fas fa-edit me-2"></span>Edit</a>
                            {% endif %}

                            {% if perms.dashboard.view_bloodrequest %}
                            <a class="dropdown-item"
                                href="{% url 'dashboard:blood_request_detail' %}?request_id={{blood_request.id}}"><span
                                    class="fas fa-eye me-2"></span>View</a>
                            {% endif %}

                            {% if perms.dashboard.delete_bloodrequest %}
                            <form action="{% url 'dashboard:delete_blood_request' %}" method="POST"
                                style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="blood_request_id" value="{{blood_request.id}}">
                                <button type="submit" class="dropdown-item text-danger rounded-bottom"><span
                                        class="fas fa-trash-alt me-2"></span>Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">
                    <p class="text-center">No Blood Request Added Yet</p>
                </td>
            </tr>
            {% endif %}

        </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{total_blood_requests}}</b> out of
            <b>{{total_blood_requests}}</b>
            entries</div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}