{% extends "base/base.html" %}

{% block title %} Dashboard {% endblock %}
{% load static %}
{% load custom_filters %}

<!-- chart js -->
{% block charts %}
<script src="{% static 'assets/js/dashboard_charts.js' %}"></script>
{% endblock charts %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">

    <div class="card">
        {% if request.user.is_staff or request.user.is_superuser %}
        <div class="card-body">
            <div class="p-2" style="color: blue;"><b>Blood Stock</b></div>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for blood in blood_type_info %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{blood.blood_type}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{blood.blood_type}}" aria-expanded="false"
                            aria-controls="flush-collapse{{blood.blood_type}}">
                            <b>{{blood.blood_type}}</b>
                        </button>
                    </h2>
                    <div id="flush-collapse{{blood.blood_type}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{blood.blood_type}}"
                        data-bs-parent="#flush-parent{{blood.blood_type}}">
                        <div class="accordion-body">
                            <b>Blood Type: {{blood.blood_type}}</b> <br>
                            <b>Total Quantity: {{blood.total_quantity}}</b> <br>
                            <b>Quantity Requested: {{blood.requested_quantity}}</b> <br>
                            <b>Approved Requests: {{blood.approve_requested_quantity}}</b> <br>
                            <b>Quantity Available: {{blood.available_quantity}}</b> <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif request.user.request.is_patient %}
        <div class="card-body">
            <div class="p-2" style="color: blue;"><b>Blood Stock</b></div>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                {% for history in request_history %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{history.history_type}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse{{history.history_type}}" aria-expanded="false"
                            aria-controls="flush-collapse{{history.history_type}}">
                            <b>{{history.history_type}}</b>
                        </button>
                    </h2>
                    <div id="flush-collapse{{history.history_type}}" class="accordion-collapse collapse"
                        aria-labelledby="flush-heading{{history.history_type}}"
                        data-bs-parent="#flush-parent{{history.history_type}}">
                        <div class="accordion-body">
                            <b>history Type: {{history.history_type}}</b> <br>
                            <b>Total Quantity: {{history.total_quantity}}</b> <br>
                            <b>Quantity Requested: {{history.requested_quantity}}</b> <br>
                            <b>Approved Requests: {{history.approve_requested_quantity}}</b> <br>
                            <b>Quantity Available: {{history.available_quantity}}</b> <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="card-body">
            <center>
                <h1>INVALID USER TYPE</h1>
                <h4>Contact Admins</h4>
            </center>
        </div>
        {% endif %}
    </div>

</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}