<div class="row">
    <div class="col-6">
        <div class="py-4">
            <!-- form for filtering queryset -->
            <form action="" method="GET">
                <div class="row">
                    <div class="col-6 mx-0">
                        <div class="input-group">
                            <!-- <label for="">Parameter</label> -->
                            <select name="week_id" id="week_id" class="form-select">
                                {% for week in weeks %}
                                <option value="{{ week.id }}" {% if week.id == current_week.id %} selected {% endif %}>
                                    {{ week.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6 mx-0">
                        <button class="btn btn-sm btn-primary">Show Report</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- this button opens a modal -->
    <div class="col-6 my-4 text-right">
        <button type="button" class="btn btn-sm btn-primary text-white" data-bs-toggle="modal"
            data-bs-target="#modal-compliance"><span class="bi bi-plus">
                New Week Report</span></button>
    </div>

</div>